ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFDFA;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:#D2CDC6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #F0EBE3;
  }
  .left{
      float: right;
  }